*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(3, 1, 15);
}
.container{
    position: relative;
    width: min(100%,500px);
    height: min(90%,700px);
    background-color: rgb(246, 246, 249);
    border: solid 3px rgb(137, 153, 245);
}
.container::selection{
    background-color: transparent;
}
.container-head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(240, 240, 248);
    position: relative;
    color: rgb(16, 16, 126);
    font-weight: 600;
    border-bottom: solid 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.progress{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: green;
    left: 0;
    bottom: 0;
    transition: width 400ms ease
}
.timer{
    width: 50px;
    background-color: rgb(16, 16, 126);
    display: flex;
    color: white;
    justify-content: center;
    border-radius: 3rem;
    border: solid 1px;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: rgb(16, 2, 62);
}
.next{
    padding: .5rem 3rem;
    cursor: pointer;
    background-color: rgb(249, 249, 250);
    border-color: white;
    border-width: 1px;
    color: rgb(16, 2, 62);
    font-family: Arial, Helvetica, sans-serif;
}
.qn{
    color: whitesmoke;
    font-size: 20px;
}
.main{
    padding: 1rem;
}
.quest{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: rgb(16, 16, 126);
}
.intro{
    font-size: 3em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(50px);
}
.options{
    padding: 0.4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: center;
    align-items: center;

}
.opt1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(124, 132, 234);
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}
.opt1.correct{
   background-color: green;
}
.opt1.wrong{
   background-color: red;
}

input[name='option']{
    cursor: pointer;
}
.res{
    display: none;
    position: absolute;
    width: 70%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.scoreboard{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: green;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.55);
}
.restart{
    padding: 0.5em 1.3rem;
}
.scores{
    color: whitesmoke;
    font-size: 2rem;
}
.error{
    display: none;
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 8, 39);
    color: whitesmoke;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.box img{
    width: 200px;
    height: 200px;
    mix-blend-mode: color-dodge;
}
.refresh{
    background-color: transparent;
    font-size: 1rem;
    mix-blend-mode: color-dodge;
    border-radius: 50%;
    overflow: hidden;
}
